body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
}

a.logout {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

button.logout {
  padding-left: 10px;
}

button.submit {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

div.closed {
  color: grey;
  margin-top: 8px;
  margin-bottom: 8px;
}

div.open {
  margin-top: 8px;
  margin-bottom: 8px;
}

.weekday {
  min-width: 32px;
  display: inline;
}

span.day {
  margin-right: 5px;
  display: inline;
}

label.a3, label.a5, label.eh, label.bss {
  margin-right: 5px;
}

legend {
  font-size: 16px;
}

li {
  padding-bottom: 6px;
}

span.failure {
  color: #990000;
}

span.failure,
span.success {
    /*background-color: greenyellow;*/
    font-weight: bold;
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    top: 5px;
    position: relative;
}

th {
  text-align: left;
}


form.powermail_form_reservation div.powermail_fieldwrap.powermail_fieldwrap_type_headline div.powermail_field {
    display: inline-block;
    width: 100%;
}

form.powermail_form_reservation div.powermail_fieldwrap.powermail_fieldwrap_type_headline div.powermail_field h4 {
    margin-top: 0;
}

form.powermail_form div.powermail_fieldwrap {
    margin-bottom: 12px;
}

form.powermail_form div.powermail_fieldwrap_type_headline {
    margin-bottom: 0;
}

/*
.closed-day {
    border: 1px solid #fff;
    background-color: #fff;
    padding: 7px;
    margin: 0px;
    display: inline-block;
    width: 100px;
    border-radius: 10px;
    height: 22px;
}
*/

.uma-global-content tr.closed td.dateradio.closed-day-de input[type="radio"] ~ .radio-dummy::after {
    content: '---------';
    color: transparent;
    position: relative;
    top: 8px;
    border-top: 3px solid #ccc;
}

.uma-global-content tr.closed td.dateradio.closed-day-en input[type="radio"]:hover ~ .radio-dummy::after,
.uma-global-content tr.closed td.dateradio.closed-day-de input[type="radio"]:hover ~ .radio-dummy::after {
    content: 'geschlossen';
    position: relative;
    border-top: none;
    color: #ccc;
    top: -5px;
    text-align: center;
}

.uma-global-content tr.closed td.dateradio.closed-day-en input[type="radio"]:hover ~ .radio-dummy::after {
    content: 'closed';
}

.uma-global-content input[type="radio"] ~ .radio-dummy {
    width: 100px;
    height: 22px;
    border-radius: 7px;
}

.checkbox-wrapper input[type="radio"] {
    width: 100px !important;
    opacity: 0;
    position: absolute;
    height: 22px !important;
    top: 0.5rem;
}


.uma-global-content tr.open td.dateradio.open-day-en:not(.no) input[type="radio"]:hover ~ .radio-dummy::after,
.uma-global-content tr.open td.dateradio.open-day-de:not(.no) input[type="radio"]:hover ~ .radio-dummy::after {
    content: 'buchen';
    top: -5px;
    position: relative;
    text-align: center;
}
.uma-global-content tr.open td.dateradio.open-day-en:not(.no) input[type="radio"]:hover ~ .radio-dummy::after {
    content: 'booking';
}

.uma-global-content tr.open td.dateradio.open-day-en.no input[type="radio"]:hover ~ .radio-dummy::after,
.uma-global-content tr.open td.dateradio.open-day-de.no input[type="radio"]:hover ~ .radio-dummy::after {
    content: 'stornieren';
    top: -5px;
    position: relative;
    /*left: 5px;*/
    text-align: center;
}
.uma-global-content tr.open td.dateradio.open-day-en.no input[type="radio"]:hover ~ .radio-dummy::after {
    content: 'storno';
}

.uma-global-content input[type="radio"]:disabled ~ .radio-dummy::after {
    content: '---------';
    border-top: 3px solid #ccc;
    top: 8px;
    position: relative;
    color: transparent;
}

.uma-global-content tr.open td.dateradio.disabled.open-day-en input[type="radio"]:hover ~ .radio-dummy::after,
.uma-global-content tr.open td.dateradio.disabled.open-day-de input[type="radio"]:hover ~ .radio-dummy::after {
    content: '----';
    top: 23px;
    position: relative;
    text-align: center;
    color: #f2f2f2;
    font-size: 39px;
    border-top: 3px solid #fff;
}

.uma-global-content input[type="radio"]:disabled ~ .radio-dummy {
    background: #f1f1f1;
    border-color: #abb8ca;
    box-shadow: none;
}

.uma-global-content tr.open td.dateradio.no.disabled input[type="radio"]:checked ~ .radio-dummy {
    background: #232e58;
    border-color: #232e58;
}

.uma-global-content table tr,
.uma-global-content table tr td,
.uma-global-content table tr th {
    border: 0;
    background-color: #eff1f5;
    text-align: center;
}

.uma-global-content tr.open td.dateradio.disabled input[type="radio"]:checked:disabled ~ .radio-dummy {
    background: #232e58;
    border-color: #232e58;
    opacity: 0.7;
}

.uma-global-content table tr td.dateradio {
    width: 100px;
    /*padding-right: 5rem;*/
}

.uma-global-content table tr td.dateradio div.checkbox-wrapper {
    float: none;
    margin-right: auto;
    margin-left: auto;
    text-align: start;
}

.uma-global-content table tr td.feedback,
.uma-global-content table tr td.buchbar,
.uma-global-content table tr td.dateradio {
    vertical-align: middle;
}

.uma-global-content table tr td.feedback {
    text-align: left;
}

span.day,
span.weekday,
td.label label {
    top: 4px;
    position: relative;
}

/* sideeffekt from uni-ma */
.buchbar.label.comment {
    top: 18px;
    position: relative;
}



/* von Uni-Mannheim übernommen */
form#reservation fieldset {
    border: none;
}

form#reservation h4,
form#reservation h5,
form#reservation h6 {
    font-size: 26px;
}

form#reservation p + h3 {
    margin-top: 32px;
}
form#reservation h3 {
    font-size: 32px;
}

form#reservation fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

form#reservation table#reservations {
    border-radius: 0;
    border: none;
    border-collapse: collapse;
    width: 100%;
}

form#reservation table#reservations tr,
form#reservation table#reservations tr td,
form#reservation table#reservations tr th {
    border: 0;
    background-color: #eff1f5;
    text-align: center;
}

.uma-global-content input[type="checkbox"]:checked ~ .checkbox-dummy {
    color: #232e58;
    border-color: #232e58;
    font-size: 12px;
}

.uma-global-content td.dateradio.checked input[type="checkbox"] ~ .checkbox-dummy {
    color: #232e58;
    border-color: #232e58;
    font-size: 12px;
    background-color: green;
    background-image: url('images/unchecked.png');
}

.uma-global-content td.dateradio.checked input[type="checkbox"]:checked ~ .checkbox-dummy {
    color: #232e58;
    border-color: #232e58;
    font-size: 12px;
    background-color: hotpink;
}

.uma-global-content table tr td.dateradio.checked.disabled input[type="checkbox"] ~ .checkbox-dummy {
    background-color: #abb8ca;
    border-color: #abb8ca;
}

table tr:first-child th {
    padding-top: 28px;
}
table tr:last-child th {
    padding-bottom: 28px;
}

.powermail_fieldwrap_type_submit.powermail_fieldwrap_absenden {
    margin-top: 17px;
}



@media all and (max-width: 823px) {
    .uma-global-content table tr td,
    .uma-global-content table tr th {
        padding: 3px;
        /* Debuging */
        /*background-color: yellow;*/
    }
    .uma-global-content table tbody tr:last-child td{
        padding-bottom: 15px;
    }
}


@media all and (max-width: 690px) {
    .uma-global-content table tr td,
    .uma-global-content table tr th {
        padding: 3px;
        /* Debuging */
        /*background-color: lightgreen;*/
    }

    .uma-global-content input[type="radio"] ~ .radio-dummy {
        width: 80px;
        height: 22px;
        border-radius: 7px;
        margin-bottom: 12px;
    }
    .uma-global-content table tbody tr:last-child td{
        padding-bottom: 15px;
    }
}

@media all and (max-width: 650px) {
    .uma-global-content table tr td,
    .uma-global-content table tr th {
        padding: 3px;
        font-weight: normal;
        font-size: small;
        /* Debuging */
        /*background-color: lightblue;*/
    }

    .uma-global-content table tr td.dateradio {
        width: 60px;
        /*padding-right: 3rem;*/
    }
    .uma-global-content input[type="radio"] ~ .radio-dummy {
        width: 60px;
        height: 22px;
        border-radius: 7px;
        margin-bottom: 12px;
    }

    .uma-global-content table tbody tr:last-child td{
        padding-bottom: 15px;
    }
}


@media all and (max-width: 510px) {
    .uma-global-content table tr td,
    .uma-global-content table tr th {
        padding: 3px;
        font-weight: normal;
        font-size: smaller;
        /* Debuging */
        /*background-color: hotpink;*/
    }

    .uma-global-content table tr td.dateradio {
        width: 45px;
        /*padding-right: 2rem;*/
    }
    .uma-global-content input[type="radio"] ~ .radio-dummy {
        width: 45px;
        height: 22px;
        border-radius: 7px;
        margin-bottom: 12px;
    }

    .uma-global-content table tbody tr:last-child td{
        padding-bottom: 15px;
    }
}


@media all and (max-width: 490px) {
    .uma-global-content table tr td,
    .uma-global-content table tr th {
        padding: 3px;
        font-weight: normal;
        font-size: smaller;
        /* Debuging */
        /*background-color: hotpink;*/
    }

    /*
    .uma-global-content table tr td.label,
    .uma-global-content table tr td.dateradio {
        padding-right: 1rem;
    }
    */
    .uma-global-content input[type="radio"] ~ .radio-dummy {
        width: 45px;
        height: 22px;
        border-radius: 7px;
        margin-bottom: 12px;
    }

    .uma-global-content table tbody tr:last-child td{
        padding-bottom: 15px;
    }

    .uma-global-content table tr td.label label{
        display: inherit;
        font-size: smaller;
    }

    .uma-global-content table tr td.label {
        width: 30px;
    }
}
