                </div>
            </div>
        </div>
        <div id="leftNaviBoxMobile">
<?php
    require( "tmpl/navigation-left-de.tmpl" );
?>

        </div>
    </div>
</div>
<!-- footer -->
<?php
    require( "tmpl/footer-de.tmpl" );
?>
<!-- footer ende -->
<script src="/fileadmin/relaunch_2016/Resources/Javascript/ub-man.min.js?1480413728" type="text/javascript"></script>
